
/* App.css */
html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify your desired font here */
  text-align: center;
  justify-content: center;
}

.canvasContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  display: flex;
  flex-direction: column; /* Stack tools vertically */
  background: lightgray;
  padding: 10px;
  cursor: move;
  z-index: 1000;
  border-radius: 8px;
  position: absolute; /* Position the toolbar as needed */
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}

.tool-icon {
  margin: 5px 0; /* Adjust spacing for vertical layout */
  padding: 10px;
  background: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.tool-icon:hover, .tool-icon.selected {
  background: #ddd;
}

.canvas-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  z-index: -100000;
}

.tool-indicator {
  margin-top: 20px;
}

.input-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  cursor: move;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
}

.input-group input {
  flex-grow: 1;
}

.settings-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.settings-button {
  background-color: #707070;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  
}

.settings-button:focus {
  outline: none;
}

.menu {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 40px; /* Adjust the distance from the settings button */
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-item {
  padding: 10px;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.menu-item:hover {
  background-color: #e9e9e9;
}

.submenu {
  display: none; /* Initially hide submenu */
  position: absolute;
  right: 100%; /* Align to the left of menu items */
  top: 0;
  background-color: white;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1001;
}

.menu-item:hover .submenu {
  display: block; /* Show submenu on hover */
  min-width: 150px;
}

.submenu a {
  padding: 10px;
  display: block;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.submenu a:hover {
  background-color: #e9e9e9;
}

/* Add this to prevent text selection on drag */
.settings-container * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drag-handle {
  background-color: #ccc; /* Light gray */
  padding:5px;
  text-align: top;
  cursor: move;
  width:100%;
  /*box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  height:auto;
  flex-grow: 1; /* Allows the title to take up the extra space */
  text-align: center; /* Centers the text within the title span itself */
  font-weight: bold; /* Optional: makes the title text bold */
  display: flex;
  justify-content: center; /* Aligns children (title and button) on the main-axis */
  align-items: center; /* Aligns children (title and button) on the cross-axis */
}
